@()

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section>
  <div>
    <article>
      <h2>Homework Tabmo API</h2>
      <ul>
        <li>Epic 1 : Media library
          <ol>
            <li>US 1-1 : Add a movie : see documentation to POST (README.md), then <a href="/api/mediatheque/movies" target="_blank">click here to show all movies</a></li>
            <li>US 1-2 : <a href="/api/mediatheque/movies?genre=SF" target="_blank">List movies, filter them by genre</a></li>
            <li>US 1-3 : <a href="/api/mediatheque/movies/groupByYear" target="_blank">Group and count movies by year</a></li>
          </ol>
        </li>
      </ul>
      <ul>
        <li>Epic 2 : Github statistics
          <ol>
            <li>US 2-1 : <a href="/api/github/repos/scala/scala/commiters" target="_blank">Top 10 project commiters</a></li>
            <li>US 2-2 : <a href="/api/github/users/odersky/languages" target="_blank">Top 10 user's languages</a></li>
            <li>US 2-3 : <a href="/api/github/repos/angular/angular/issues" target="_blank">Issues by day</a></li>
          </ol>
        </li>
      </ul>
    </article>
  </div>
</section>
}
}