@()

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Tabmo Epics</h2>

      <ul>
        <li>Epic 1
          <ol>
            <li><a href="/api/mediatheque/movies">User story 1</a></li>
            <li><a href="/api/mediatheque/movies?genre=SF">User story 2</a></li>
            <li><a href="/api/mediatheque/movies/groupByYear">User story 3</a></li>
          </ol>
        </li>
      </ul>
      <ul>
        <li>Epic 2
          <ol>
            <li><a href="/api/github/repos/scala/scala/commits">User story 1</a></li>
            <li><a href="/api/github/users/bleedingtiger/languages">User story 2</a></li>
            <li><a href="/api/github/repos/angular/angular/issues">User story 3</a></li>
          </ol>
        </li>
      </ul>
    </article>
  </div>
</section>
}
}